USE [master]
GO
/****** Object:  Database [Docencia]    Script Date: 10/11/2018 2:03:18 PM ******/
CREATE DATABASE [Docencia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Docencia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Docencia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Docencia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Docencia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Docencia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Docencia]
GO
USE [Docencia]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[NombreCurso] [varchar](100) NULL,
	[CodigoCurso] [varchar](50) NOT NULL,
	[Duracion] [varchar](100) NULL,
	[ObjetivoCurso] [varchar](150) NULL,
	[Metodologia] [varchar](150) NULL,
	[MaterialDidactico] [varchar](150) NULL,
	[Certificacion] [varchar](100) NULL,
	[Inversion] [varchar](100) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[CodigoCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CursoEstudiante]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoEstudiante](
	[CodigoCurso] [varchar](50) NOT NULL,
	[CodigoEstudiante] [int] NOT NULL,
	[Estado] [bit] NULL,
	[Condicion] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[Cedula] [int] NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Apellido] [varchar](50) NULL,
	[FechaIngreso] [varchar](50) NULL,
	[CarreraTecnica] [varchar](100) NULL,
	[FechaNacimiento] [varchar](50) NULL,
	[Edad] [int] NULL,
	[Genero] [char](10) NULL,
	[TelefonoMovil] [varchar](50) NULL,
	[TelefonoDomicilio] [varchar](50) NULL,
	[CorreoElectronico] [varchar](150) NULL,
	[ReferenciaPersonal] [varchar](100) NULL,
	[TelefonoReferencia] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[Canton] [varchar](50) NULL,
	[Distrito] [varchar](50) NULL,
	[DomicilioExacto] [varchar](200) NULL,
	[LugarTrabajo] [varchar](50) NULL,
	[Cargo] [varchar](100) NULL,
	[TelefonoTrabajo] [varchar](50) NULL,
	[DireccionTrabajo] [varchar](100) NULL,
	[GradoAcademico] [varchar](50) NULL,
	[Institucion] [varchar](100) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[CodigoModulo] [varchar](50) NOT NULL,
	[NombreModulo] [varchar](100) NULL,
	[Duracion] [varchar](50) NULL,
	[Creditos] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[CodigoModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModuloEstudiante]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuloEstudiante](
	[CodigoModulo] [varchar](50) NOT NULL,
	[CodigoEstudiante] [int] NOT NULL,
	[Nota] [int] NULL,
	[Estado] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModuloProfesor]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuloProfesor](
	[CodigoModulo] [varchar](50) NOT NULL,
	[CodigoProfesor] [int] NOT NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_ModuloProfesor] PRIMARY KEY CLUSTERED 
(
	[CodigoModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[Nombre] [varchar](150) NOT NULL,
	[Cedula] [int] NOT NULL,
	[FechaNacimiento] [varchar](50) NULL,
	[Edad] [int] NULL,
	[Genero] [char](10) NULL,
	[TelefonoMovil] [int] NULL,
	[TelefonoDomicilio] [int] NULL,
	[CorreoElectronico] [varchar](150) NULL,
	[Provincia] [varchar](50) NULL,
	[Canton] [varchar](50) NULL,
	[Distrito] [varchar](50) NULL,
	[DomicilioExacto] [varchar](200) NULL,
	[NumeroCuenta] [int] NOT NULL,
	[NombreBanco] [varchar](50) NOT NULL,
	[LugarTrabajo] [varchar](50) NULL,
	[TelefonoTrabajo] [int] NULL,
	[FechaIngreso] [varchar](50) NULL,
	[DireccionTrabajo] [varchar](200) NULL,
	[FechaFinalizacion] [varchar](50) NULL,
	[GradoAcademico] [varchar](100) NULL,
	[Institucion] [varchar](100) NULL,
	[Estado] [bit] NOT NULL,
	[FechaInicio] [varchar](50) NULL,
	[CarreraTecnica] [varchar](100) NULL,
 CONSTRAINT [PK_Profesor] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tecnico]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnico](
	[CodigoTecnico] [varchar](50) NOT NULL,
	[NombreTecnico] [varchar](200) NULL,
	[PerfilOcupacional] [varchar](500) NULL,
	[Duracion] [varchar](100) NULL,
	[PracticaProf] [varchar](50) NULL,
	[Requisitos] [varchar](150) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Tecnico] PRIMARY KEY CLUSTERED 
(
	[CodigoTecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TecnicoEstudiante]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TecnicoEstudiante](
	[CodigoTecnico] [varchar](50) NOT NULL,
	[CodigoEstudiante] [int] NOT NULL,
	[Estado] [bit] NULL,
	[PracticaProfesional] [bit] NULL,
	[Condicion] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/11/2018 2:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[NombreUsuario] [varchar](150) NOT NULL,
	[Password] [varchar](50) NULL,
	[Email] [varchar](150) NULL,
	[Code] [varchar](50) NULL,
	[Rol] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[IDUser] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CursoEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_Curso] FOREIGN KEY([CodigoCurso])
REFERENCES [dbo].[Curso] ([CodigoCurso])
GO
ALTER TABLE [dbo].[CursoEstudiante] CHECK CONSTRAINT [FK_Curso]
GO
ALTER TABLE [dbo].[CursoEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteC] FOREIGN KEY([CodigoEstudiante])
REFERENCES [dbo].[Estudiante] ([Cedula])
GO
ALTER TABLE [dbo].[CursoEstudiante] CHECK CONSTRAINT [FK_EstudianteC]
GO
ALTER TABLE [dbo].[ModuloEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteM] FOREIGN KEY([CodigoEstudiante])
REFERENCES [dbo].[Estudiante] ([Cedula])
GO
ALTER TABLE [dbo].[ModuloEstudiante] CHECK CONSTRAINT [FK_EstudianteM]
GO
ALTER TABLE [dbo].[ModuloEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_Modulo] FOREIGN KEY([CodigoModulo])
REFERENCES [dbo].[Modulo] ([CodigoModulo])
GO
ALTER TABLE [dbo].[ModuloEstudiante] CHECK CONSTRAINT [FK_Modulo]
GO
ALTER TABLE [dbo].[ModuloProfesor]  WITH CHECK ADD  CONSTRAINT [FK_ModuloP] FOREIGN KEY([CodigoModulo])
REFERENCES [dbo].[Modulo] ([CodigoModulo])
GO
ALTER TABLE [dbo].[ModuloProfesor] CHECK CONSTRAINT [FK_ModuloP]
GO
ALTER TABLE [dbo].[ModuloProfesor]  WITH CHECK ADD  CONSTRAINT [FK_Profesor] FOREIGN KEY([CodigoProfesor])
REFERENCES [dbo].[Profesor] ([Cedula])
GO
ALTER TABLE [dbo].[ModuloProfesor] CHECK CONSTRAINT [FK_Profesor]
GO
ALTER TABLE [dbo].[TecnicoEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteT] FOREIGN KEY([CodigoEstudiante])
REFERENCES [dbo].[Estudiante] ([Cedula])
GO
ALTER TABLE [dbo].[TecnicoEstudiante] CHECK CONSTRAINT [FK_EstudianteT]
GO
ALTER TABLE [dbo].[TecnicoEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_Tecnico] FOREIGN KEY([CodigoTecnico])
REFERENCES [dbo].[Tecnico] ([CodigoTecnico])
GO
ALTER TABLE [dbo].[TecnicoEstudiante] CHECK CONSTRAINT [FK_Tecnico]
GO
USE [master]
GO
